.logo {
  margin: 8pt 8pt 8pt 8pt;
  max-width: 184pt;
}

.links {
  margin: 8pt 8pt 8pt 8pt;
  border: 2px solid black;
}

.link-container {
  background: black;
  padding: 16pt 8pt 16pt 8pt;
  margin: 16pt 16pt 16pt 16pt;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 16pt;
}
