.border {
  border: solid black;
}

.board-opponent-side {
  border-bottom: solid black;
  margin-bottom: 64pt;
}

.board-player-side {
  border-top: solid black;
  margin-top: 64pt;
}

.battle-view-flex-row {
  display: flex;
  flex-direction: row;
}

.battlefield {
  flex: 80 1 auto;
}

.health {
  flex: 1 1 auto;
  padding: 16pt 0pt 16pt 0pt;
  font-size: 16pt;
}

.deck {
  flex: 1 1 auto;
}

.resource {
  flex: 80 1 auto;
}

.grave {
  flex: 1 1 auto;
}