.border {
  border: solid black;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 11rem;
  height: 17rem;
  border: 0.5rem solid black;
  background-size: cover;
  color: white;
  font-size: 0.7rem;
}

.card-footer {
  display: flex;
  flex-direction: row;
  border-top: 3px solid black;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.card-footer > * {
  flex: 1;
}

.card-header {
  display: flex;
  flex-direction: row;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.card-header > *:first-child {
  flex: 1;
}
